<div class="gemini-pro-vision">
  <div>
    <label for="inputText"></label>
    <input type="text" id="inputText" placeholder="Inout prompt here" [formControl]="prompt" />
  </div>
  <div>
    <label for="image"></label>
    <input type="file" id="image" #files multiple (change)="fileChangeEvent($event)" />
  </div>
  <button type="button" class="shadow" [disabled]="prompt.invalid || !imageFile" (click)="sendTextAndImages()">
    Send Text And Images
  </button>
</div>

<div id="preview" *ngIf="!!preview">
  <img [src]="preview" />
</div>
<div>
  <ng-container *ngIf="isLoading; else responseTpl">
    <p>Loading ...</p>
  </ng-container>

  <ng-template #responseTpl>
    <div>
      <div class="promptText" *ngIf="!!promptText">Me:{{ promptText }}</div>
      <ng-container *ngIf="isBlocked; else defaultResponse">
        <p [hidden]="!responseText">Gemini:{{ responseText }}</p>
      </ng-container>
      <ng-template #defaultResponse>
        <markdown [hidden]="!responseText">Gemini:{{ responseText }}</markdown>
      </ng-template>
    </div>
  </ng-template>
</div>
