.setting {
    display: flex;
    align-content: space-between;

    label {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    div:first-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 5px;
    }
}
